<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.leoltron.PayDebt" android:installLocation="auto" android:versionCode="5" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
		<activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />
</manifest>